/* merriweather-700 - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('assets/fonts/merriweather-v28-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('assets/fonts/merriweather-v28-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('assets/fonts/inter-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('assets/fonts/inter-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('assets/fonts/inter-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('assets/fonts/inter-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  :root {
     --color-gold: #bdae82;
     --color-black: #000000;
     --color-wight: #ffffff;
     --font1: 60px;
     --font2: 20px;   
  }

  html {
     scroll-behavior: smooth; 
   }

   * {
     box-sizing: border-box;
   }

   body {
     background-color: var(--color-black);
     font-family: Inter;
     font-style: normal;
     font-weight: 400;
     font-size: var(--font2);
     color: var(--color-wight);
     line-height: 50px;    
}

/* HEADER START */

  .container-header {
     max-width: 1440px;
     height: 90px;
     margin: 0 auto;
     padding: 0 20px;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     background: url('assets/img/bg.jpg');
     background-repeat: no-repeat;
     background-position: center 0;
   }

   .logo-link {
        display: flex;
   }

   .icon {
        width: 50px;
        height: 50px;
        
        fill: var(--color-wight);
   }
   .icon:hover {
        fill: var(--color-gold);
   }

   .nav {
        margin-left: auto;
   }

   .nav-list {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
   }

   .nav-link {
        text-decoration: none;
        color: var(--color-wight);
        padding-right: 31px;
   }

   .nav-link:hover {
        color: var(--color-gold);
   }

   .switch-lng {
     font-family: Inter;
     font-style: normal;
     font-weight: 700;
     font-size: var(--font2);
     color: var(--color-wight);
     line-height: 50px;
   }

   .en-lng {
        padding-right: 9px;
        color: var(--color-gold);
   }

   .ru-lng {
        padding-left: 8px;
   }

   /* HEADER END */

   /*MAIN START*/

   /*HERO START*/

   .container {
        max-width: 1440px;
        margin: 0 auto;
   }

   .section-hero {
        padding-left: 80px;
        padding-top: 160px;
        padding-right: 870px;
        padding-bottom: 328px;
        background-image: url('./assets/img/bg.jpg');
        background-position: center -90px;
        background-repeat: no-repeat;
   }

   h1 {
    margin: 0;
    padding-bottom: 9px;
    font-family: Merriweather;
    font-size: var(--font1) ;
    font-weight: 700;
    line-height: 120px;
   }

   .hero-text {
     font-family: Inter;
     font-size: var(--font2) ;
     font-weight: 400;
     line-height: 40px;
     margin: 0;
     padding-bottom: 27px;
   }

      /* HERO END */

      /* BUTTON START */


   .gold-button {
     cursor: pointer;
     font-family: Inter;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 40px;
     border: 0;
     border-radius: 0;
     background-color: var(--color-gold);
     width: 220px;
     height: 55px;
   }

   .gold-button:hover {
        color: var(--color-wight);
   }

   .black-button {
     cursor: pointer;
     font-family: inherit;
     border-color: var(--color-gold);
     border-radius: 0;
     background-color: transparent;
     color: var(--color-gold);
     width: 220px;
     height: 55px;
   }

   .black-button {
        color: var(--color-wight);
   }

         /* BUTTON END */

         /* SKILLS START */

         .container-title {
          width: 49%;
          margin: 0 auto;
          background-image: linear-gradient(to top, #000 39px, #bdae82 39px,
           #bdae82 41px, #000 41px);
         }

         .title {
          display: block;
          padding-top: 100px;
          margin: 0 280px;
          font-family: Merriweather;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 80px;
          text-align: center; 
          color: var(--color-gold);
          background-color: var(--color-black);
         }

         /* SKILLS END */